{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="banner-title regular-title">
            Articles about {{ topic }}
          </h1>
        </div>
      </div>
    </div>
      {% load static %}
      <img src="{% static 'images/wave_up.png' %}" alt="" class="bottom-img">
  </section>
  <section class="table-list">
  {% if articles %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <form action="" method="get" class="form-inline">
              <a href="{% url 'agency:article-create' %}" class="btn btn-primary link-to-page">
                Add New Article
              </a>
              <a href="{% url 'agency:topic-list' %}" class="btn btn-primary link-to-page">
                Go back to topics
              </a>
            </form>
          </div>
          <table class="table table-borderless">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Topic</th>
            </tr>
            {% for article in articles %}
            <tr>
              <td>
                {{ article.id }}
              </td>
              <td>
                <a href="{{ article.get_absolute_url }}">
                  {{ article.title }}
                </a>
              </td>
              <td>
                {{ article.topic.name }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <h5 class="no-data">There are no articles about {{ topic }} yet</h5>
      <hr>
      <div>
        <form action="" method="get" class="form-inline">
          <a href="{% url 'agency:article-create' %}" class="btn btn-primary link-to-page">
            Add New Article
          </a>
          <a href="{% url 'agency:topic-list' %}" class="btn btn-primary link-to-page">
            Go back to topics
          </a>
        </form>
      </div>
    </div>
  {% endif %}
  </section>
{% endblock %}
