{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    Article list
  </h1>
  {% if article_list %}
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-primary" type="submit" value="🔍">
    </form>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Topic</th>

      </tr>

      {% for article in article_list %}
      <tr>
        <td>
          <a href="{% url "agency:article-detail" pk=article.id %}"> {{ article.id }}</a>
        </td>
        <td>
            {{ article.title }}
        </td>
        <td>
            {{ article.topic.name }}
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no articles yet</p>
  {% endif %}
{% endblock %}
