{% extends "base.html" %}

{% block content %}
    <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="banner-title">Good News Agency</h1>

          <p>Network for people in denial</p>
        </div>
        <div class="col-md-6 text-center">
          {% load static %}
          <img src="{% static 'images/team.png' %}" alt="Happy people" class="img-fluid">


        </div>
      </div>
    </div>
      {% load static %}
          <img src="{% static 'images/wave_up.png' %}" alt="" class="bottom-img">
    </section>
  <section class="dyn-content">
    <h2>Dynamic content</h2>
    <p>The Good News Agency has the following record counts:</p>
    <ul>
        <li><strong>Articles:</strong> {{ num_articles }}</li>
        <li><strong>Redactors:</strong> {{ num_redactors }}</li>
        <li><strong>Topics:</strong> {{ num_topics }}</li>
    </ul>
  </section>

{% endblock %}