{% extends "base.html" %}

{% block content %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Delete redactor?</h1>
        </div>
      </div>
    </div>
    {% load static %}
    <img src="{% static 'images/wave_up.png' %}" alt="" class="bottom-img">
  </section>
  <section class="redactor-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <h3 class="delete-conf">{{ redactor.username }} will be deleted</h3>
            <hr>
            <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Yes, I understand" class="btn btn-danger">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
