{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>{{ object|yesno:"Update,Create" }} redactor</h1>
        </div>
      </div>
    </div>
    {% load static %}
    <img src="{% static 'images/wave_up.png' %}" alt="" class="bottom-img">
  </section>
  <section class="redactor-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <form action="" method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
