{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="banner-title regular-title">
            Redactor List

          </h1>
        </div>
      </div>
    </div>
      {% load static %}
          <img src="{% static 'images/wave_up.png' %}" alt="" class="bottom-img">
  </section>
 <section class="table-list">
  {% if redactor_list %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <form action="" method="get" class="form-inline">
              {{ search_form|crispy }}
              <input class="btn btn-primary" type="submit" value="🔍">
              <a href="{% url 'agency:redactor-create' %}" class="btn btn-primary link-to-page text-left">
              Create new Redactor
              </a>
            </form>
          </div>
          <table class="table table-borderless">
            <tr >
              <th>ID</th>
              <th>Username</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Years of experience</th>
            </tr>
          {% for redactor in redactor_list %}
            <tr >
              <td>{{ redactor.id }}</td>
              <td><a href="{{ redactor.get_absolute_url }}">{{ redactor.username }} </a></td>
              <td>{{ redactor.first_name }}</td>
              <td>{{ redactor.last_name }}</td>
              <td class=" text-center">{{ redactor.years_of_experience }}</td>
            </tr>
          {% endfor %}
          </table>

        </div>
      </div>

    </div>


  {% else %}
    <p>There are no redactors in the agency.</p>
  {% endif %}
  </section>
{% endblock %}
