:root {
  --first: #C0EEE4;
  --second: #F8F988;
  --third: #FFCAC8;
  --fourth: #F48484

}

/* --------- SIDEBAR ---------*/
.navbar {
    background-image: linear-gradient(to right, var(--first), var(--second));
    padding: 0 !important;

}

.navbar-brand{
    padding: 20px 20px;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: var(--fourth) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-text{
    float: right;
    text-align: left;
}
.navbar-toggler{
    outline: none;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}
/* --------- SIDEBAR ---------*/
/* --------- BANNER ---------*/
.banner {
    background-image: linear-gradient(to right, var(--first), var(--second));
    color: var(--fourth);
    padding-top: 5%;
}

.banner-title{

    font-weight: 600;
    margin-top: 77px;
   }

.bottom-img{
    width: 100%;
}
/* --------- BANNER ---------*/